[submodule "MOOC-Learner-Curated"]
	path = MOOC-Learner-Curated
	url = git@github.mit.edu:ALFA-MOOCdb/MOOC-Learner-Curated.git
[submodule "MOOC-Learner-Quantified"]
	path = MOOC-Learner-Quantified
	url = git@github.mit.edu:ALFA-MOOCdb/MOOC-Learner-Quantified.git
[submodule "MOOC-Learner-Visualized"]
	path = MOOC-Learner-Visualized
		url = git@github.mit.edu:ALFA-MOOCdb/MOOC-Learner-Visualized.git
[submodule "MOOC-Learner-Modeled"]
	path = MOOC-Learner-Modeled
	url = git@github.mit.edu:ALFA-MOOCdb/MOOC-Learner-Modeled.git

